.main {
  text-align : center;
  padding-top : 100px;
}

/* Ex 1 */

.main input {
  text-decoration : none;
  padding : 20px 0;
  border-radius : 50px;
  border : none;
  text-align : center;
  font-weight : bolder;
  font-size : 18px;
}

.input {
  padding-bottom : 50px;
}

.sub {
  padding-bottom : 50px;
}

 button {
  transform : scale(2);
  background-color : white;
  border : none;
  border-radius : 5px;
  padding : 2px 5px;
  transition : ease-in 0.1s;
}

 button:hover {
  background-color : black;
  color : white;
}

 button:active {
  transform : scale(2.5) translateY(1px);
}

/* Ex 2 */


.sub2plus {
  display : inline-block;
  padding : 10px;
  margin : 50px 5px 0 0;
}

.sub2minus {
  display : inline-block;
  padding : 10px;
  margin : 50px 5px 0 0;
}